$side-panel-width: 85%;
$slide-speed: .8s;


// layout

html{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body{
  @include outer-container;
  padding: 0;
  width: 100%;
  height: 100%;

  > header{
    @include pad();
    padding-top: 0;
  }

  main{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $light-background;
    z-index: 20;
    border-radius: 0 7px 0 0;
    @include box-shadow( 0 0 3px 0px hsla(0, 0%, 0%, 0.65) );
    @include pad();
    padding-top: 0;
    padding-bottom: 0;
    overflow: scroll;
    @include transition ( margin $slide-speed );
  }

  #content{
    width: 100%;
    overflow: scroll;
  }

  #map{
    background-image: url(https://raw.github.com/subtlepatterns/SubtlePatterns/gh-pages/hexellence.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
  }

  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 5em;
    @include box-shadow( 0 0 3px 0px hsla(0, 0%, 0%, 0.65) );
    background-color: white;
  }

}

// OnCanvas

#show-map,
#show-right{
  position: absolute;
  z-index: 30;
  top: 0;
  display: none;
}

#show-map{
  left: 0;
}
#show-right{
  right: 0;
}


html, body{width: 100%; height: 100%; margin: 0; overflow: hidden;}
body footer{
  // z-index: -1;
}

body main{
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: scroll;
}

#show-map,
#show-right{
  display: block;
  visibility: hidden;
  text-decoration: none;
  &:before{
    font-size: 2em;
    font-family: "FontAwesome";
    content: "\f054";
    display: block;
    text-indent: 0;
    visibility: visible;
    text-align: right;
    padding: .5em;
  }
}

#map, #right{
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
}

body.show-map{
  main{
    margin-left: $side-panel-width;
  }
  #right{
    z-index: -10;
  }
  #show-map:before{
  }
}

body.show-map{
  #main{
    margin-left: -$side-panel-width;
  }
  #map{
    position: absolute;
    right: 0;
    z-index: -10;
  }
  #show-map:before{
    content: "\f053";
  }
  body footer{
    z-index: -1;
  }
}

main{
  @include position(relative);
  z-index: 20;
}

@include media($tablet){
  #show-map{
    display: none;
  }
}
