$side-panel-width: 65%;
$slide-speed: .8s;


// layout

html{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body{
  @include outer-container;
  padding: 0;
  width: 100%;
  height: 100%;

  #content{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 85%;
    width: 27em;
    background-color: $light-background;
    z-index: 20;
    border-radius: 0 7px 0 0;
    @include box-shadow( 0 0 3px 0px hsla(0, 0%, 0%, 0.65) );
    @include pad();
    padding-top: 0;
    padding-bottom: 0;
    overflow: scroll;
  }

  map{}

  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 5em;
    @include box-shadow( 0 0 3px 0px hsla(0, 0%, 0%, 0.65) );
  }

}

// OnCanvas

#show-nav,
#show-right{
  position: absolute;
  z-index: 30;
  top: 0;
  display: none;
}

#show-nav{
  left: 0;
}
#show-right{
  right: 0;
}

@include media($mobile){
  #show-nav,
  #show-right{
    display: block;
    visibility: hidden;
    text-decoration: none;
    &:before{
      font-size: 2em;
      font-family: "FontAwesome";
      content: "\f053";
      display: block;
      text-indent: 0;
      visibility: visible;
      text-align: right;
      padding: .5em;
    }
  }

  #nav, #right{
    z-index: 10;
    width: $side-panel-width !important;
    height: 100%;
    display: block;
  }

  body.show-nav{
    main{
      margin-left: $side-panel-width;
    }
    #right{
      z-index: -10;
    }
    #show-nav:before{
    }
  }

  body.show-right{
    main{
      margin-left: -$side-panel-width;
    }
    #nav{
      z-index: -10;
    }
    #show-right:before{
      content: "\f054";
    }
  }

  main{
    @include position(relative);
    z-index: 20;
  }
}