$blue: #3bbfce;
$light-background: #f9f4ed;
$margin: 16px;

@import "bourbon";
@import "grid-settings";
@import "neat";
@import "fonts";

@import "layout";
@import "calendar";

body {
	font-family: maven;
  color: #494949;
}