%ul.events
  %li.date
    %h2 October 12, 2013
    %ul#2013-10-12
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
  %li.date
    %h2 October 13, 2013
    %ul#2013-10-12
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
  %li.date
    %h2 October 14, 2013
    %ul#2013-10-12
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
      %li.event
        %time
          %span.hour 2
          %span.minute 00
          %span.daypart.pm pm
        %span.title This awesome event
        %span.location 2301 Awesome Street, Nashville, TN
