%html
	%head
		%title Super Calendar
		%link{ :rel => "stylesheet", :href => "/stylesheets/style.css" }
	%body
	#container
		%header
			%h1
				Our 
				%span.big SuperAwesome 
				HTML5 Template
	#main
		Did we mention this was awesome?