%section.calendar
  %ul.events
    %li.date
      October 12, 2013
      %ul#2013-10-12
        %li.event
          %span.time 2:00pm
          %span.title This awesome event
          %span.location 2301 Awesome Street, Nashville, TN
        %li.event
          %span.time 5:00pm
          %span.title This awesome event
          %span.location 2301 Awesome Street, Nashville, TN
        %li.event
          %span.time 6:00pm
          %span.title This awesome event
          %span.location 2301 Awesome Street, Nashville, TN
    %li.date
      October 13, 2013
      %ul#2013-10-12
        %li.event
          %span.time 2:00pm
          %span.title This awesome event
          %span.location 2301 Awesome Street, Nashville, TN
        %li.event
          %span.time 5:00pm
          %span.title This awesome event
          %span.location 2301 Awesome Street, Nashville, TN
        %li.event
          %span.time 6:00pm
          %span.title This awesome event
          %span.location 2301 Awesome Street, Nashville, TN
    %li.date
      October 14, 2013
      %ul#2013-10-12
        %li.event
          %span.time 2:00pm
          %span.title This awesome event
          %span.location 2301 Awesome Street, Nashville, TN
        %li.event
          %span.time 5:00pm
          %span.title This awesome event
          %span.location 2301 Awesome Street, Nashville, TN
        %li.event
          %span.time 6:00pm
          %span.title This awesome event
          %span.location 2301 Awesome Street, Nashville, TN